body{
    margin:0px;  
    width:100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#header{
    width:100%;
    position: fixed;
    top:0px;
    background-color:white;
    z-index: 15;
}

#header img{
    width:200px;
    float: left;
    margin: 1px;
}

#nav{
    width:100%;
    font-size: 1em; 
    font-weight: bold;
    color:#c00712;
    text-shadow:2px 2px #c9c9c9;
}

#nav a{
    text-decoration: none; 
    color:#c00712;
}
#nav a:hover{
    color:dimgray;
}

#content{
    margin-top:3em;
    overflow: auto;
    background-color: #F44F57;
}

#nav li{
    display: inline;
    float: right;
    margin-right:3.5em;
}

video{
    width:100%;
}

#article{
    background-color:#efefef;   
}

#feature{
    width:100%;
    background-color:#efefef;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

#slides {
    position: relative;
    height: 800px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background: orange;
}
.slide:nth-of-type(3) {
    background: green;
}
.slide:nth-of-type(4) {
    background: blue;
}
.slide:nth-of-type(5) {
    background: purple;
}

.column1, .column2, .column3{
    width:30%;
    float:left;
    margin-left:2.5em;
    margin-top:2em;
    height:600px;
    background-color:white;
    overflow: hidden;
    border: 4px solid #740006;
    border-radius: 10px;
    background-image:url(../img/background1.jpeg);
    background-size: cover;
    background-position: center;
}

img{
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;   
}

.text{
    width:100%;
    height:300px;
    z-index: 10;
    color:black;
    margin-top:300px;
    margin-left:-3px;
    background-color: white;
    border:4px solid #740006;
}

.text ul{
    list-style-type: none;
}

.text h2{
    font-size: 1.5em;
}

.text li{
    font-size: 1em;
    margin-top: 0.5em;
    margin-left:-2.5em;
}

.text h1{
    font-size: 1.75em;
}

.text button{
    width:200px;   
    height:50px;
    margin-top:-5px;
}

.column5{
    width:45%; 
    height:20em;
    margin-left: 2.3em;
    margin-top:2em;
    margin-bottom:2em;
    float: left;
    border: 4px solid #740006;
    border-radius: 10px;
    padding: 1em;
    background-color: #9D0008;
    overflow: hidden;
}

.column6{
    width:45%; 
    height: 20em;
    margin-left: 1.7em;
    margin-top:2em;
    margin-bottom:2em;
    float: left;
    border: 4px solid #740006;
    border-radius: 10px;
    padding: 1em;
    background-color: #9D0008;
    overflow: hidden; 
}

article h1{
    color:#fff;  
    font-size:40px;
}
article p{
    color:white;  
    width:25em;
    margin-top:40px;
}

.afb{
    width:200px;
    height:100%;
    border: 4px solid #740006;
    float:right;
    margin-right:-1em;
    margin-top:-1em;
    margin-bottom:-1em;
}

#footer{
    width:100%;
    font-size: 1em; 
    font-weight: bold;
    color:#2d2d2d;
    text-shadow:2px 2px #c9c9c9;
}

.naam{
    color:#c00712;  
    float:right;
    margin-right:15px;
}

.sitemap{
    color:#c00712;  
    float:left;
    margin-left:15px;   
}
    